
@{
    ViewBag.Title = "InformationHub";
}

<h1>InformationHub</h1>

<h2>Data Visual</h2>
<ul>
    <li>@Html.ActionLink("Click Here", "ViewPage1", "InformationHub")</li>
</ul>

<h2>Regions </h2>
<ul>
    <li>@Html.ActionLink("Click Here", "ViewPage2", "InformationHub")</li>
</ul>

<h2>Select a City</h2>
<ul>
    <li>@Html.ActionLink("Click Here", "ViewPage3", "InformationHub")</li>
</ul>
