
@{
    ViewBag.Title = "InformationHub";
}

<h1>InformationHub</h1>

<h2>Comparison between metropolitan and regional Areas</h2>

<p><a href="ViewPage1" class="btn btn-primary btn-lg">Show Results &raquo;</a></p>

<h2>Comparison of regions in Vivtoria</h2>

<p><a href="ViewPage2" class="btn btn-primary btn-lg">Show Results &raquo;</a></p>

<h2>Comparison of 10 regional cities</h2>

<p><a href="ViewPage3" class="btn btn-primary btn-lg">Show Results &raquo;</a></p>
