
@{
    ViewBag.Title = "Above80";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body style="background-color:silver;">
    <td>@Html.ActionLink("Home", "Index", "Home")  </td>
    <td> >> </td>
    <td>@Html.ActionLink("PR Points Calculator", "Create", "Points_Calculator")  </td>
    <td> >> </td>
    <u style="display:inline;"> Result </u>

    <br>
    <div class=" col-md-12" style="border:solid;">
        <h3 style="color:red;"><b>Total Points you have got is :</b></h3>
        <h3 style="color:red;"><b>@ViewBag.points</b></h3>
    </div>

    <div class="w3-col col-md-12" style="border:solid;">
        <!-- About Card -->
        <div class="w3-white w3-margin">
            <img src="~/Content/Points result page above80.png" alt="Jane" style="width:100%;">
            <div class="w3-container">
                <h4><b>In 2019,</b></h4>
                <p>
                    Congratulations on having more than 80 points, But with the increasing applications every year the cut-off points have also
                </p>
                <p>
                    increased very quickly thereby increasing processing times to upto 6 months even though you have more points than the cut-off.
                </p>
            </div>
        </div>
    </div>
    <br />
    <br />
    <h4 style="color:red; margin-top:10px;">
        <b>
            Regional Victoria is the perfect choice. Below are the visa policies applicable
        </b>
    </h4>

    <div class="w3-container" style="max-height:100%;width:100%;">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <style>
            .mySlides {
                display: none;
            }

            .myLink {
                display: none
            }
        </style>

        <div class="w3-content w3-display-container">
            <img class="mySlides" src="~/Content/PR results Less is More.jpg" style="width:100%;height:70%;object-fit:fill">
            <img class="mySlides" src="~/Content/regional visa 2.png" style="width:100%;height:70%;object-fit:fill">
            <img class="mySlides" src="~/Content/regional visa 3.png" style="width:100%;height:70%;object-fit:fill">
            <img class="mySlides" src="~/Content/regional visa 4.png" style="width:100%;height:70%;object-fit:fill">

            <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
            <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
        </div>
    </div>

    <script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex - 1].style.display = "block";
        }
    </script>


    <div class="col-md-12" style=" border:solid;margin-top:5%;">
        <div class="col-md-4" align="left"><b>Immigration Site Link</b> </div>
        <div class="grid-right">
            <a href="https://liveinmelbourne.vic.gov.au/migrate/skilled-migration-visas/skilled-regional-provisional-visa-subclass-489"
               target="_blank">
                <b>
                    Skilled Regional (Provisional) visa (subclass 489) (Click for more information)
                </b>
            </a>
        </div>



    </div>
    <div>
        <br>
        <p class="btn btn-primary btn-lg" style="background-color: white; float: right;color:black">
            @Html.ActionLink("<< Back to Home", "Index", "Home")
        </p>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</body>