@model VicLyfe2._0.Models.Suburb

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Suburb4</h2>

<p class="btn btn-primary btn-lg" style="background-color: white; float: right">
    @Html.ActionLink("<< Back to Home", "Index", "Home")
</p>

<br>  </br>
<hr>


<html>
<body>

    <button onclick="{location.href='Explore41'}" class="btn btn-primary btn-lg" style="width: 220px">
        <font size=4px>Restaurants</font>
    </button>

    <button onclick="{location.href='Explore42'}" class="btn btn-primary btn-lg" style="width: 220px">
        <font size=4px>Train Station</font>
    </button>

    <button onclick="{location.href='Explore4'}" class="btn btn-primary btn-lg" style="width: 220px; color: black; background-color: white">
        <font size=4px>Hide Supermarkets</font>
    </button>

    <button onclick="{location.href='Explore44'}" class="btn btn-primary btn-lg" style="width: 220px">
        <font size=4px>Shopping Centre</font>
    </button>

    <button onclick="{location.href='Explore45'}" class="btn btn-primary btn-lg" style="width: 220px">
        <font size=4px>Hospitals</font>
    </button>
    <hr>

    <br>  </br>
    <div>
        <div id="map"></div>
        <div id="right-panel">
            <h2>Results</h2>
            <ul id="places"></ul>
            <button id="more">More results</button>
        </div>
        <!-- Replace the value of the key parameter with your own API key. -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDup5_Payp5tju9PxCkWaBZnErOU7raAg8&libraries=places&callback=initMap" async defer></script>
        <style type="text/css">
            /* Always set the map height explicitly to define the size of the div
                    * element that contains the map. */
            #map {
                margin: 0 auto;
                height: 400px;
                width: 900px;
            }

            #more {
                width: 100%;
                margin: 5px 0 0 0;
            }
        </style>
        <script type="text/javascript">
    // This example requires the Places library. Include the libraries=places
    // parameter when you first load the API. For example:
    // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

    var map;

    function initMap() {
        // Create the map.
        var pyrmontx = { lat: -33.866, lng: 151.196 };
        map = new google.maps.Map(document.getElementById('map'), {
            center: pyrmontx,
            zoom: 8
        });

        var geocoder = new google.maps.Geocoder();
        var pyrmont = geocodeAddress(geocoder, map);

        // Perform a nearby search.

    }

    function createMarkers(places) {
        var bounds = new google.maps.LatLngBounds();
        var placesList = document.getElementById('places');

        for (var i = 0, place; place = places[i]; i++) {
            var image = {
                url: place.icon,
                size: new google.maps.Size(71, 71),
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(17, 34),
                scaledSize: new google.maps.Size(25, 25)
            };

            var request = {
                placeId: place.place_id,
                fields: ['name', 'formatted_address', 'place_id']
            };

            var infowindow = new google.maps.InfoWindow();
            var serviceB = new google.maps.places.PlacesService(map);

            serviceB.getDetails(request, function (place, status) {
                if (status === google.maps.places.PlacesServiceStatus.OK) {
                    var li = document.createElement('li');
                    li.textContent = 'Name: ' + place.name + ', Address :' + place.formatted_address;
                    placesList.appendChild(li);
                }
            })
            var marker = new google.maps.Marker({
                map: map,
                icon: image,
                title: place.name,
                position: place.geometry.location
            });



            bounds.extend(place.geometry.location);
        }
        map.fitBounds(bounds);
    }

    function geocodeAddress(geocoder, resultsMap) {
        var suburb = "@ViewBag.Suburb4" + ",Victoria, Australia";

        var address = suburb;

        var service = new google.maps.places.PlacesService(map);
        var getNextPage = null;
        var moreButton = document.getElementById('more');
        moreButton.onclick = function () {
            moreButton.disabled = true;
            if (getNextPage) getNextPage();
        };

        geocoder.geocode({'address': address}, function(results, status) {
        if (status === 'OK') {
            resultsMap.setCenter(results[0].geometry.location);
            var mark = new google.maps.Marker({ position: results[0].geometry.location, map: map });
            service.nearbySearch(
                    // use bank , supermarket , cafe , shopping_mall , train_station

            { location: results[0].geometry.location, radius: 50000, type: ['supermarket'] },
            function (results, status, pagination) {
                if (status !== 'OK') return;

                createMarkers(results);
                moreButton.disabled = !pagination.hasNextPage;
                getNextPage = pagination.hasNextPage && function () {
                    pagination.nextPage();
                };
            });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}
        </script>
    </div>

</body>
</html>



