@model VicLyfe2._0.Models.Suburb

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Suburb4</h2>

<p class="btn btn-primary btn-lg" style="background-color: white; float: right">
    @Html.ActionLink("<< Back to Home", "Index", "Home")
</p>

<br>  </br>
<hr>

<html>
<body>

    <button onclick="{location.href='Explore41'}" class="btn btn-primary btn-lg" style="width: 250px">
        <font size=4px>Show Restaurants & Cafe's</font>
    </button>

    <br>  </br>
    <hr>

    <button onclick="{location.href='Explore42'}" class="btn btn-primary btn-lg" style="width: 250px">
        <font size=4px>Show Near By Train Station</font>
    </button>

    <br>  </br>
    <hr>

    <button onclick="{location.href='Explore43'}" class="btn btn-primary btn-lg" style="width: 250px">
        <font size=4px>Show Near BySupermarkets</font>
    </button>

    <br>  </br>
    <hr>

    <button onclick="{location.href='Explore44'}" class="btn btn-primary btn-lg" style="width: 250px">
        <font size=4px>Show Near By shopping Malls</font>
    </button>


</body>
</html>
