@model IEnumerable<VicLyfe2._0.Models.Selected_region>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>You have Selected :</h3>

<h4><b>@ViewBag.region</b></h4>
<hr>

<p class="btn btn-primary btn-lg" style="background-color: white">@Html.ActionLink("Confirm", "Create", "User_preference")</p>
<td>&emsp; &emsp;&emsp;</td>
<p class="btn btn-primary btn-lg" style="background-color: white">@Html.ActionLink("Go back", "Create", "Selected_region")</p>

