@model IEnumerable<VicLyfe2._0.Models.Selected_region>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4><b>You have Selected the Region shown below. Reiew once before proceeding further</b></h4>
<br/>
<h4><b>@ViewBag.region</b></h4>

<button style="background-color:darkgray;">@Html.ActionLink("Select Suburb Preferences", "Create", "User_preference")</button>
<button style="background-color:darkgray;">@Html.ActionLink("Want to Select a different Region.", "Create", "Selected_region")</button>
