
@{
    ViewBag.Title = "B_View";
}

<h1>B: Grampians</h1>

<button onclick="{location.href='FYR'}" class="btn btn-primary btn-lg"
        style="float: right; width: 150px; height: 40px">
    <font size=4px>Return</font>
</button>

<p>
    <img src="../../images/Map.PNG" style="height: 550px; width: 1000px" />
</p>


<button onclick="{location.href='A_View'}" class="btn btn-primary btn-lg"
        style="width: 200px; height: 50px; background-color: Red; color: white">
    <font size=6px>A</font>
</button>
<button onclick="{location.href='B_View'}" class="btn btn-primary btn-lg"
        style="width: 200px; height: 50px; background-color: #FFCC00; color: white">
    <font size=6px>B</font>
</button>
<button onclick="{location.href='C_View'}" class="btn btn-primary btn-lg"
        style="width: 200px; height: 50px; background-color: DarkBlue; color: white">
    <font size=6px>C</font>
</button>
<button onclick="{location.href='D_View'}" class="btn btn-primary btn-lg"
        style="width: 200px; height: 50px; background-color: Green; color: white">
    <font size=6px>D</font>
</button>
<button onclick="{location.href='E_View'}" class="btn btn-primary btn-lg"
        style="width: 200px; height: 50px; background-color: DarkViolet; color: white">
    <font size=6px>E</font>
</button>

<br>  </br>
<p class="btn btn-primary btn-lg" style="float: right; background-color: white">@Html.ActionLink("Select this region", "Create", "Selected_region")</p>
<br>  </br>

<div class='tableauPlaceholder' id='viz1555919909675' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;I2&#47;I2_B&#47;RentDetail&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='I2_B&#47;RentDetail' /><param name='tabs' value='yes' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;I2&#47;I2_B&#47;RentDetail&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>
<script type='text/javascript'>var divElement = document.getElementById('viz1555919909675'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>
