
@{
    ViewBag.Title = "D_View";
}
<h1>D: Hume</h1>

<button onclick="{location.href='FYR'}" class="btn btn-primary btn-lg"
        style="float: right; width: 150px; height: 40px">
    <font size=4px>Return</font>
</button>

<p>
    <img src="../../images/Map.PNG" style="height: 550px; width: 1000px" />
</p>


<button onclick="{location.href='A_View'}" class="btn btn-primary btn-lg"
        style="width: 200px; height: 50px; background-color: Red; color: white">
    <font size=6px>A</font>
</button>
<button onclick="{location.href='B_View'}" class="btn btn-primary btn-lg"
        style="width: 200px; height: 50px; background-color: #FFCC00; color: white">
    <font size=6px>B</font>
</button>
<button onclick="{location.href='C_View'}" class="btn btn-primary btn-lg"
        style="width: 200px; height: 50px; background-color: DarkBlue; color: white">
    <font size=6px>C</font>
</button>
<button onclick="{location.href='D_View'}" class="btn btn-primary btn-lg"
        style="width: 200px; height: 50px; background-color: Green; color: white">
    <font size=6px>D</font>
</button>
<button onclick="{location.href='E_View'}" class="btn btn-primary btn-lg"
        style="width: 200px; height: 50px; background-color: DarkViolet; color: white">
    <font size=6px>E</font>
</button>

<div style="background-color: #cfc ; width: 1000px; height: 500px">
    <h1>There should be region information </h1>
</div>

<p><a href="FormPage" class="btn btn-primary btn-lg" style="float: right">Select this suburb &raquo;</a></p>