@model VicLyfe2._0.Models.Test

@{
    ViewBag.Title = "FormPage";
}

<h2>Explore your region</h2>

<button onclick="{location.href='FYR'}" class="btn btn-primary btn-lg"
        style="float: right; width: 150px; height: 40px">
    <font size=4px>Return</font>
</button>

<br>This is a test of dropdown list</br>
<br> </br>

<select class="form-control" id="StudentGender" name="Test">
    <option>Select Gender</option>
    <option>Male</option>
    <option>Female</option>
</select>


