@{
    ViewBag.Title = "FYR";
}

<h1>Select a Region</h1>

<p>
    <img src="../../images/Map.PNG" style="height: 550px; width: 1000px" />
</p>


<button onclick="{location.href='A_View'}" class="btn btn-primary btn-lg"
        style="width: 200px; height: 50px; background-color: Red; color: white">
    <font size=5px>Barwon SW</font>
</button>
<button onclick="{location.href='B_View'}" class="btn btn-primary btn-lg"
        style="width: 200px; height: 50px; background-color: #FFCC00; color: white">
    <font size=5px>Grampians</font>
</button>
<button onclick="{location.href='C_View'}" class="btn btn-primary btn-lg"
        style="width: 200px; height: 50px; background-color: DarkBlue; color: white">
    <font size=5px>Loddon Malle</font>
</button>
<button onclick="{location.href='D_View'}" class="btn btn-primary btn-lg"
        style="width: 200px; height: 50px; background-color: Green; color: white">
    <font size=5px>Hume</font>
</button>
<button onclick="{location.href='E_View'}" class="btn btn-primary btn-lg"
        style="width: 200px; height: 50px; background-color: DarkViolet; color: white">
    <font size=5px>Gippsland</font>
</button>