@{
    ViewBag.Title = "Explor1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.SuburbA</h2>

<p><a href="Index" class="btn btn-primary btn-lg" style="float: right">Return to result &laquo;</a></p>

<br>  </br>
<hr>

<html>
<body>

    <button onclick="{location.href='Explor11'}" class="btn btn-primary btn-lg" style="width: 250px">
        <font size=4px>Show Restaruants</font>
    </button>

    <br>  </br>
    <hr>

    <button onclick="{location.href='Explor12'}" class="btn btn-primary btn-lg" style="width: 250px">
        <font size=4px>Show Train Station</font>
    </button>

    <br>  </br>
    <hr>

    <button onclick="{location.href='Explor13'}" class="btn btn-primary btn-lg" style="width: 250px">
        <font size=4px>Show Supermarkets</font>
    </button>

    <br>  </br>
    <hr>

    <button onclick="{location.href='Explor14'}" class="btn btn-primary btn-lg" style="width: 250px">
        <font size=4px>Show Hospital</font>
    </button>


</body>
</html>


