
@{
    ViewBag.Title = "Explor4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Suburb4</h2>

<p class="btn btn-primary btn-lg" style="background-color: white; float: right">
    @Html.ActionLink("<< Back to Home", "Index", "Home")
</p>

<br>  </br>
<hr>

<html>
<body>

    <button onclick="{location.href='Explor41'}" class="btn btn-primary btn-lg" style="width: 250px">
        <font size=4px>Show Restaruants</font>
    </button>

    <br>  </br>
    <hr>

    <button onclick="{location.href='Explor42'}" class="btn btn-primary btn-lg" style="width: 250px">
        <font size=4px>Show Train Station</font>
    </button>

    <br>  </br>
    <hr>

    <button onclick="{location.href='Explor43'}" class="btn btn-primary btn-lg" style="width: 250px">
        <font size=4px>Show Supermarkets</font>
    </button>

    <br>  </br>
    <hr>

    <button onclick="{location.href='Explor44'}" class="btn btn-primary btn-lg" style="width: 250px">
        <font size=4px>Show Hospital</font>
    </button>


</body>
</html>



