
@{
    ViewBag.Title = "Explor4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>"Suburb name"</h2>

<p class="btn btn-primary btn-lg" style="background-color: white; float: right">
    @Html.ActionLink("<< Back to Home", "Index", "Home")
</p>
<br>  </br>
<hr>

<script>
    function showhide(id) {
        var e = document.getElementById(id);
        e.style.display = (e.style.display == 'block') ? 'none' : 'block';
    }

</script>

<html>
<body>

    <a href="javascript:showhide('restaruant')" class="btn btn-primary btn-lg" style="width: 250px">
        Show/Hide Restaruants
    </a>

    <div id="restaruant" style="display:none;">
        <p>There should be a map and result list of restaruants.</p>
    </div>

    <hr>

    <a href="javascript:showhide('station')" class="btn btn-primary btn-lg" style="width: 250px">
        Show/Hide Train station
    </a>

    <div id="station" style="display:none;">
        <p>There should be a map and result list of train stations.</p>
    </div>

    <hr>

    <a href="javascript:showhide('mall')" class="btn btn-primary btn-lg" style="width: 250px">
        Show/Hide Shopping mall
    </a>

    <div id="mall" style="display:none;">
        <p>There should be a map and result list of shopping malls.</p>
    </div>

    <hr>

    <a href="javascript:showhide('hospital')" class="btn btn-primary btn-lg" style="width: 250px">
        Show/Hide Hospital
    </a>

    <div id="hospital" style="display:none;">
        <p>There should be a map and result list of hospitals.</p>
    </div>

</body>
</html>
