
@{
    ViewBag.Title = "Explor2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.SuburbB</h2>

<p><a href="Index" class="btn btn-primary btn-lg" style="float: right">Return to result &laquo;</a></p>

<br>  </br>
<hr>




