@model IEnumerable<VicLyfe2._0.Models.User_preference>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body style="background-color:silver;">
<h4>
    <b>Congratulations! we have 3 suburbs suiting your preferences. They are listed below alonh with 
       an option to compare them</b>
</h4>
<br>
    <style>
        ul.a {
            list-style-position: outside;
        }
    </style>
    <ul class="a">
        <li><h4><b>@ViewBag.Suburb1 </b> </h4></li>
        <button onclick="{location.href='Explor1'}" class="btn btn-primary btn-lg" style="float: right">
            <font size=4px>Explore this suburb</font>
        </button>
        <br> </br>

        <li><h4><b> @ViewBag.Suburb2 </b> </h4></li>
        <button onclick="{location.href='Explor2'}" class="btn btn-primary btn-lg" style="float: right">
            <font size=4px>Explore this suburb</font>
        </button>
        <br> </br>
        <li><h4><b> @ViewBag.Suburb3 </b> </h4></li>
        <button onclick="{location.href='Explor3'}" class="btn btn-primary btn-lg" style="float: right">
            <font size=4px>Explore this suburb</font>
        </button>
        <br> </br>

    </ul>
    <br />

    <button onclick="{location.href='Report'}" class="btn btn-primary btn-lg">
        <font size=4px>Click to see which suits you the most</font>
    </button>

    <button onclick="{location.href='Create'}" class="btn btn-primary btn-lg" style="float: right">
        <font size=4px>Return</font>
    </button>

</body>
