@model IEnumerable<VicLyfe2._0.Models.User_preference>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Suburb1</h2>
<h2>@ViewBag.Suburb2</h2>
<h2>@ViewBag.Suburb3</h2>


